{% extends "base.html" %}

{% block content %}
    <h1>Adding a Job</h1>
    <p action="" method="post">
        {{ form.hidden_tag() }}
        <p>
        {% for key in form.keys %}
        {{ form.key.label }}<br>
        {{ form.key(class="form-control") }}<br>
            {% for error in form.key.errors %}
                <div class="alert alert-danger" role="alert">
                        {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
        </p>
        {{message}}
    </form>
{% endblock %}