{% extends "base.html" %}

{% block content %}
    {% set profs = [
    "инженер-исследователь",
    "пилот",
    "строитель",
    "экзобиолог",
    "врач",
    "инженер по терраформированию",
    "климатолог",
    "специалист по радиационной защите",
    "астрогеолог",
    "гляциолог",
    "инженер жизниобеспечения",
    "метеоролог",
    "оператор марсохода",
    "киберинженер",
    "штурман",
    "пилот дронов"
    ]
    %}
    <h2> Список профессий </h2>
    {% if value == "ol" %}
        <ol>
            {% for prof in profs %}
            <li> {{ prof }}</li>
            {% endfor %}
        </ol>
    {% elif value == "ul" %}
        <ul>
            {% for prof in profs %}
            <li> {{ prof }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h3> Неверный параметр</h3>
    {% endif %}
{% endblock%}